<!DOCTYPE html>
<html>
  <head>
    <title>File Upload Results</title>
  </head>
  <body>
    <h1>File Upload Results</h1>
    <ul>
      <% for(let result of results) { %>
      <li><a href="<%= result %>" target="_blank"><%= result %></a></li>
      <% } %>
    </ul>
  </body>
</html>
